<?xml version="1.0" encoding="UTF-8"?><beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"	xsi:schemaLocation="http://www.springframework.org/schema/beans 						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">	<bean id="userInterface" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">		<property name="serviceUrl"				  value="http://${portal.host}:${portal.port}/portal/remote/userInterface" />		<property name="serviceInterface" value="com.wana.portal.remote.interfaces.UserInterface" />		<property name="overloadEnabled" value="true" />		<!-- <property name="readTimeout" value="3000" /> -->	</bean></beans>