<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wana.fruit.machine.mapper.GameRecordMapperExt" >
  <resultMap id="BaseResultMap" type="com.wana.fruit.machine.model.entity.GameRecord" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="bet_rate" property="betRate" jdbcType="INTEGER" />
    <result column="bet_content" property="betContent" jdbcType="VARCHAR" />
    <result column="bet_coin_total" property="betCoinTotal" jdbcType="INTEGER" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="gain_coin_total" property="gainCoinTotal" jdbcType="INTEGER" />
    <result column="is_prize" property="isPrize" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, bet_rate, bet_content, bet_coin_total, method, result, gain_coin_total, 
    is_prize, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wana.fruit.machine.model.entity.GameRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from game_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from game_record
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from game_record
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wana.fruit.machine.model.entity.GameRecordExample" >
    delete from game_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wana.fruit.machine.model.entity.GameRecord" >
    insert into game_record (id, user_id, bet_rate, 
      bet_content, bet_coin_total, method, 
      result, gain_coin_total, is_prize, 
      create_time)
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=INTEGER}, #{betRate,jdbcType=INTEGER}, 
      #{betContent,jdbcType=VARCHAR}, #{betCoinTotal,jdbcType=INTEGER}, #{method,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR}, #{gainCoinTotal,jdbcType=INTEGER}, #{isPrize,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wana.fruit.machine.model.entity.GameRecord" >
    insert into game_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="betRate != null" >
        bet_rate,
      </if>
      <if test="betContent != null" >
        bet_content,
      </if>
      <if test="betCoinTotal != null" >
        bet_coin_total,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="gainCoinTotal != null" >
        gain_coin_total,
      </if>
      <if test="isPrize != null" >
        is_prize,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="betRate != null" >
        #{betRate,jdbcType=INTEGER},
      </if>
      <if test="betContent != null" >
        #{betContent,jdbcType=VARCHAR},
      </if>
      <if test="betCoinTotal != null" >
        #{betCoinTotal,jdbcType=INTEGER},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="gainCoinTotal != null" >
        #{gainCoinTotal,jdbcType=INTEGER},
      </if>
      <if test="isPrize != null" >
        #{isPrize,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wana.fruit.machine.model.entity.GameRecordExample" resultType="java.lang.Integer" >
    select count(*) from game_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update game_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.betRate != null" >
        bet_rate = #{record.betRate,jdbcType=INTEGER},
      </if>
      <if test="record.betContent != null" >
        bet_content = #{record.betContent,jdbcType=VARCHAR},
      </if>
      <if test="record.betCoinTotal != null" >
        bet_coin_total = #{record.betCoinTotal,jdbcType=INTEGER},
      </if>
      <if test="record.method != null" >
        method = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.result != null" >
        result = #{record.result,jdbcType=VARCHAR},
      </if>
      <if test="record.gainCoinTotal != null" >
        gain_coin_total = #{record.gainCoinTotal,jdbcType=INTEGER},
      </if>
      <if test="record.isPrize != null" >
        is_prize = #{record.isPrize,jdbcType=BIT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update game_record
    set id = #{record.id,jdbcType=CHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      bet_rate = #{record.betRate,jdbcType=INTEGER},
      bet_content = #{record.betContent,jdbcType=VARCHAR},
      bet_coin_total = #{record.betCoinTotal,jdbcType=INTEGER},
      method = #{record.method,jdbcType=VARCHAR},
      result = #{record.result,jdbcType=VARCHAR},
      gain_coin_total = #{record.gainCoinTotal,jdbcType=INTEGER},
      is_prize = #{record.isPrize,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wana.fruit.machine.model.entity.GameRecord" >
    update game_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="betRate != null" >
        bet_rate = #{betRate,jdbcType=INTEGER},
      </if>
      <if test="betContent != null" >
        bet_content = #{betContent,jdbcType=VARCHAR},
      </if>
      <if test="betCoinTotal != null" >
        bet_coin_total = #{betCoinTotal,jdbcType=INTEGER},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="gainCoinTotal != null" >
        gain_coin_total = #{gainCoinTotal,jdbcType=INTEGER},
      </if>
      <if test="isPrize != null" >
        is_prize = #{isPrize,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wana.fruit.machine.model.entity.GameRecord" >
    update game_record
    set user_id = #{userId,jdbcType=INTEGER},
      bet_rate = #{betRate,jdbcType=INTEGER},
      bet_content = #{betContent,jdbcType=VARCHAR},
      bet_coin_total = #{betCoinTotal,jdbcType=INTEGER},
      method = #{method,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      gain_coin_total = #{gainCoinTotal,jdbcType=INTEGER},
      is_prize = #{isPrize,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>